
   .conteneur-tournoi {
    margin-top: 100px;
    margin:0;
    min-height:100vh;
    width:100%;
    background-image: url("../../public/fondTournoi.jpg");
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:120vw 120vh;
    background-position:center-top;
    animation-duration: 20s;
    animation-name: zoomin;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    filter: grayscale(0.9);

}

.conteneur-tournoi-mobile {
    margin-top: 80;
    padding-top: 50;
    margin:0;
    background-image: url("../../public/fondTournoi.jpg");
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:cover;
    background-position:center-top;
    background-position-x: 80%;
    background-position-y: 0%;
    /*-webkit-animation: zoomin 10s 1;
    animation: zoomin 5s 1;*/
    min-height:100vh;
    filter: grayscale(0.7);
}

    .paper {
        opacity: 0.7;
        padding-top: 1rem;
    }

    
/* App.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
    
  .pool h3 {
    text-align: center;
    color: #333;
    margin-bottom: 10px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    padding: 5px 0;
  }
  
  .bracket h3 {
    text-align: center;
    color: #333;
    margin-bottom: 10px;
  }
  
  .match {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .team {
    margin: 5px 0;
  }
  
  @media (max-width: 768px) {
    .tournament-structure {
      flex-direction: column;
    }

    .tournament-structure table{
      }

    .pool,
    .bracket {
      margin: 10px 0;
    }
  }

  
.tournament-structure {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .pool {
    flex: 0.5;
    margin-right: 5%; /* Ajoute de l'espace entre les pools */
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .bracket {
    flex: 0.5;
    margin-right: 5%; /* Ajoute de l'espace entre les pools */
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  p {margin: 10px 15%}
  